<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeBreaker Game</title>
</head>
<body>
  <form>
    <label for="guess">Enter your guess:</label><br>
    <input type="text" id="input" name="guess"><br>
    <input type="button" id="guess" value="Guess" onclick="submitForm()">
  </form>
</body>
</html>